apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-fbpudvuc
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-fbpudvuc:c1a0ec9e8ea528b44dda1974ffe8739680957c17@sha256:e1a51fb040a54bfd7c9295b85395d7300fa225d793b63a5a180b5d3e578e3eb9
          name: container-image
